/**
 * main页面的样式文件
 * create time 2017-10-31
 */


/*轮播区域--start*/
	/*轮播--start*/
.mui-slider{
	position: relative;
    width: 10.0rem;
    height: 5.333333rem;
}
.mui-slider-indicator .mui-indicator{
	background: rgba(200,100,50,.5);
	box-shadow: none;
}
.mui-slider-indicator .mui-indicator.mui-active{
	background: rgba(0, 122, 255,.8);
}
	/*轮播--end*/
	/*搜索框--start*/  
.mui-search{
    position: absolute;
    width: 9.066667rem;
    height: 0.8rem;
    top: 0.266667rem;
    left: 0.466667rem;
    
}
#search{
    position: absolute;
    width: 9.066667rem;
    height: 0.8rem;
    font-size: 0.373333rem;
    text-align: center;
    top: 0.266667rem;
    left: 0.466667rem;
    border-radius: 0.8rem;
    background: rgba(255,255,255,0.8);
}

	/*搜索框--start*/

/*轮播区域--end*/

/*tab-list横向滚动区域--start*/
#tab-list{
	position: absolute;
    box-sizing: border-box;
    height: 2.133333rem;
    padding:0.266667rem 0;
    top: 5.333333rem;
    left: 0;
    background: #fff;
}
#tab-list.active{
	position: fixed;
	top: 0;
	box-shadow: 0 0 1px 0 #ccc;
}
#tab-list .mui-scroll{
    display: flex !important;
    flex-wrap: nowrap !important;
    align-items: center !important;
    width: auto;
} 

#tab-list .mui-scroll .tab-item{
    width: 1.333333rem;
    height: 1.6rem;
    margin:0 0.583333rem;
}
#tab-list .mui-scroll .tab-item div{
    width: 1.333333rem;
    height: 1.2rem;
    border-radius: 0.133333rem;
    text-align: center;
    line-height: 1.1rem;
}
#tab-list .mui-scroll .tab-item div.blue{
	background: #6699ff;
}
#tab-list .mui-scroll .tab-item div.yellow{
	background: #ff9900;
}
#tab-list .mui-scroll .tab-item div.orange{
	background: #ff9999;
}
#tab-list .mui-scroll .tab-item div.pink{
	background: #ff99ff;
}
#tab-list .mui-scroll .tab-item div.young{
	background: #99cccc;
} 
#tab-list .mui-scroll .tab-item div span{
    color: #fff;
    font-size: 0.8rem;
}

#tab-list .mui-scroll .tab-item p{
	text-align: center;
	color: #000;
}

/*tab-list横向滚动区域--end*/ 

/*special-column-list最新内容展示列表--start*/
#special-column-list{
    margin-top: 2.666667rem;
}
#special-column-list .mui-media{
    display: flex;
    box-sizing: border-box;
    height: 3.733333rem;
    padding: 0.266667rem;
}
#special-column-list .mui-table-view-cell:after
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 1px;

    content: '';
    -webkit-transform: scaleY(.5);
            transform: scaleY(.5);

    background-color: #ccc;
}
#special-column-list .mui-media img.special-column-cover{
    width: 2.4rem;
    height: 100%;
}
#special-column-list .mui-media .mui-media-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 6.933333rem;
    height: 100%;
    padding-left: 0.266667rem;
}
#special-column-list .mui-media .mui-media-body .special-column-item-head{
	display:flex;
	justify-content: space-between;
}
#special-column-list .mui-media .mui-media-body .special-column-item-head .special-column-item-head-title{
    font-size: 0.533333rem;
    font-weight: 400;
    color: #000;
}
#special-column-list .mui-media .mui-media-body .special-column-item-head .special-column-item-head-money{
    font-size: 0.4rem;
	color: #ff3300;
}
#special-column-list .mui-media .mui-media-body .special-column-item-ellipsis{
    font-size: 0.426667rem;
    color: #bcbcbc;
}
#special-column-list .mui-media .mui-media-body .special-column-item-update-time{
    display: inline-block;
    width: 2.4rem;
    padding: 0.066667rem;
    line-height: 0.333333rem;
    text-align: center;
    color: #bcbcbc;
    border: 1px solid #bcbcbc;
    border-radius: 0.106667rem;
}
#special-column-list .mui-media .mui-media-body .special-column-item-update-content{
    color: #767676;
}
/*special-column-list最新内容展示列表--end*/


/*boutique-list精品内容展示列表--start*/
#boutique-list{
	margin-top: 0.533333rem;
}
#boutique-list .title{
    padding: 0.266667rem;
	font-size: 0.533333rem;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
}


#boutique-list .mui-media{
    display: flex;
    box-sizing: border-box;
    height: 3.733333rem;
    padding: 0.266667rem;
}

#boutique-list .mui-media img.boutique-cover{
    width: 2.4rem;
    height: 100%;
}
#boutique-list .mui-media .mui-media-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 6.933333rem;
    height: 100%;
    padding-left: 0.266667rem;
}
#boutique-list .mui-media .mui-media-body .boutique-item-head{
	display:flex;
	justify-content: space-between;
}
#boutique-list .mui-media .mui-media-body .boutique-item-head .boutique-item-head-title{
    font-size: 0.533333rem;
    font-weight: 400;
    color: #000;
}
#boutique-list .mui-media .mui-media-body .boutique-item-head .boutique-item-head-money{
    font-size: 0.4rem;
	color: #ff3300;
}
#boutique-list.mui-media .mui-media-body .boutique-item-ellipsis{
    font-size: 0.426667rem;
    color: #bcbcbc;
}
#boutique-list .mui-media .mui-media-body .boutique-item-update-time{
    display: inline-block;
    width: 2.4rem;
    padding: 0.066667rem;
    line-height: 0.333333rem;
    text-align: center;
    color: #bcbcbc;
    border: 1px solid #bcbcbc;
    border-radius: 0.106667rem;
}
#boutique-list .mui-media .mui-media-body .boutique-item-show-content{
    color: #767676;
}

#boutique-list .mui-media .mui-media-body .boutique-item-show-content .show-number{
    margin-left: 0.133333rem;
}
/*boutique-list精品内容展示列表--end*/