<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../../public/css/mui.css" />
		<link rel="stylesheet" type="text/css" href="../css/main.css" />
		<link rel="stylesheet" href="../../../public/css/pull-top-tips.css" />
		<link rel="stylesheet" href="http://at.alicdn.com/t/font_461954_ounep5t51pf7ds4i.css" />
		<script src="../../../public/lib/flexible.js" type="text/javascript"></script>
	</head>

	<body>
		<div id="refreshContainer" class="mui-content">
			<!--轮播图 start-->
			<div class="mui-slider">
				<div class="mui-slider-group mui-slider-loop">
					<!--这里动态加载轮播图-->
				</div>
				<div class="mui-slider-indicator">
					<!--这里动态加载轮播图的指示器-->
				</div>
				<!--搜索框-->
				<input id="search" type="search" class="mui-input-clear" placeholder="请输入您要搜索的内容">
			</div>
			<!--轮播图 end-->
			<!--横向滚动区域 start-->
			<div id="tab-list" class="mui-scroll-wrapper">
				<div class="mui-scroll">
					<!--这里放置真实显示的DOM内容-->
					<div data-open="open-home" class="tab-item">
						<div class="tab-item-icon blue">
							<span class="iconfont icon-home1"></span>
						</div>
						<p>首页</p>
					</div>
					<div data-open="open-special-column" class="tab-item">
						<div class="tab-item-icon yellow">
							<span class="iconfont icon-renzheng7"></span>
						</div>
						<p>专栏</p>
					</div>
					<div data-open="open-selling" class="tab-item">
						<div class="tab-item-icon orange">
							<span class="iconfont icon-huo"></span>
						</div>
						<p>热销</p>
					</div>
					<div data-open="open-up-new" class="tab-item">
						<div class="tab-item-icon pink">
							<span class="iconfont icon-new"></span>
						</div>
						<p>上新</p>
					</div>
					<div data-open="open-all" class="tab-item">
						<div class="tab-item-icon young">
							<span class="iconfont icon-liebiao"></span>
						</div>
						<p>全部</p>
					</div>
				</div>
			</div>
			<!--横向滚动区域 end-->

			<ul id="special-column-list" class="mui-table-view">
				<!--这里动态加载专栏列表-->
			</ul>

			<ul id="boutique-list" class="mui-table-view">
				<div class="title">精品内容</div>
				<!--这里动态加载精品内容列表-->
			</ul>
		</div>
	</body>
	<script src="../../../public/lib/mui.js" type="text/javascript"></script>
	<!--引入上拉加载，下拉刷新插件start-->
	<script src="../../../public/lib/mui.pullToRefresh.js" type="text/javascript"></script>
	<script src="../../../public/lib/mui.pullToRefresh.material.js" type="text/javascript"></script>
	<!--引入上拉加载，下拉刷新插件end-->
	<!--引入渲染插件template  start-->
	<script src="../../../public/lib/template.js" type="text/javascript"></script>
	<!--引入渲染插件template end-->
	<script src="../temp/main-temp.js" type="text/javascript"></script>
	<!--引入配置文件-->
	<script src="../../../config.js" type="text/javascript"></script>
	<script src="../../../public/js/appHttp.js" type="text/javascript"></script>
	<script src="../../../public/js/appOpenWebView.js" type="text/javascript"></script>
	<script src="../js/main.js" type="text/javascript"></script>

</html>